<h1>URL Shorter</h1>

<div>
  <form id="url-form">
    <label for="longURL">URL:</label>
    <input type="text" name="longURL" id="long-url" placeholder="please type in url here" required>
    <button type="submit">Send</button>
  </form>
</div>

<div>
  <p id="result-copy"></p>
</div>

<div>
  <table id="top-visits">
    <tr>
      <th>URL</th>
      <th>Visits</th>
      <th>Last Vist</th>
    </tr>
</table>
</div>

<script src="public/js/home.js"></script>
